<!--Create Modal-->
<div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Thêm mới vị trí tuyển dụng
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-left">
                    <div class="col-xl-6">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Tên vị trí công việc</b></label>
                            <input type="text" id="name_create" name="name_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Số lượng</b></label>
                            <input type="text" id="soluong_create" name="soluong_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Mô tả công việc</b></label>
                            <textarea type="text" id="description_create" name="description_create" cols="12" rows="3" class="form-control"></textarea>
                        </div>
                    </div>
                    
                </div>
                <div class="row text-left">
                    <div class="col-xl-6">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Trình độ giáo dục yêu cầu</b></label>
                            <input type="text" id="tdgd_create" name="tdgd_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Trình độ chuyên môn kỹ thuật yêu cầu</b></label>
                            <input type="text" id="tdcmkt_create" name="tdcmkt_create" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Chuyên nghành công việc</b></label>
                            <input type="text" id="chuyennganh_create" name="chuyennganh_create" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Trình độ tin học văn phòng yêu cầu</b></label>
                            <input type="text" id="loaithvp_create" name="loaithvp_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Trình độ tin học yêu cầu khác</b></label>
                            <textarea type="text" id="tinhockhac_create" name="tinhockhac_create" cols="12" rows="2" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Kỹ năng mềm</b></label>
                            <textarea type="text" id="kynangmem_create" name="kynangmem_create" cols="12" rows="2" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Kinh nghiệm yêu cầu</b></label>
                            <input type="text" id="yeucaukn_create" name="yeucaukn_create" class="form-control money text-right" style="font-weight: bold" />
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Hình thức làm việc</b></label>
                            <input type="text" id="hinhthuclv_create" name="hinhthuclv_create" class="form-control money text-right" style="font-weight: bold" />
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Địa điểm</b></label>
                            <textarea type="text" id="diadiem_create" name="diadiem_create" cols="12" rows="2" class="form-control"></textarea>
                        </div>
                    </div>
                    
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Mục đích làm việc</b></label>
                            <textarea type="text" id="mucdichlv_create" name="mucdichlv_create" cols="12" rows="2" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Mức lương</b></label>
                            <input type="text" id="mucluong_create" name="mucluong_create" class="form-control money"/>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Hỗ trợ ăn</b></label>
                            <input type="text" id="hotroan_create" name="hotroan_create" class="form-control" />
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label><b>Phúc lợi</b></label>
                            <textarea type="text" id="phucloi_create" name="phucloi_create" cols="12" rows="2" class="form-control"></textarea>
                        </div>
                    </div>
                    <input type="text" id="idtuyendung_create" name="idtuyendung_create" class="form-control" hidden value="@ViewData["idtuyendung"]" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="SetStore()">Thêm mới</button>
            </div>
        </div>
    </div>
</div>

<!--Edit Modal-->
<div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Chỉnh sửa vị trí tuyển dụng
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body" id="edit_thongtin">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="SetUpdate()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label text-dark">
                    Đồng ý xóa vị trí tuyển dụng?
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-left">
                    <input hidden id="id_delete" name="id_delete" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="SetDelete()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<script>
    function SetStore() {
        if (document.getElementById("name_create").value == '') {
            toastr.error("Tên vị trí công việc không được để trống!!!", "Lỗi!");
        } else {
            if (document.getElementById("soluong_create").value == '') {
                toastr.error("Số lượng không được để trống!!!", "Lỗi!");
            } else {
                if (document.getElementById("tdgd_create").value == '') {
                    toastr.error("Trình độ giáo dục yêu cầu không được để trống!!!", "Lỗi!");
                } else {
                    if (document.getElementById("yeucaukn_create").value == '') {
                        toastr.error("Kinh nghiệm yêu cầu không được để trống!!!", "Lỗi!");
                    } else {
                        $.ajax({
                            url: '/ViTriTuyenDung/Store',
                            type: 'POST',
                            data: {
                                idtuyendung_create: $('#idtuyendung_create').val(),
                                name: $('#name_create').val(),
                                soluong: $('#soluong_create').val(),
                                description: $('#description_create').val(),
                                tdgd: $('#tdgd_create').val(),
                                tdcmkt: $('#tdcmkt_create').val(),
                                chuyennganh: $('#chuyennganh_create').val(),
                                loaithvp: $('#loaithvp_create').val(),
                                tinhockhac: $('#tinhockhac_create').val(),
                                kynangmem: $('#kynangmem_create').val(),
                                yeucaukn: $('#yeucaukn_create').val(),
                                hinhthuclv: $('#hinhthuclv_create').val(),
                                phucloi: $('#phucloi_create').val(),
                                hotroan: $('#hotroan_create').val(),
                                mucluong: $('#mucluong_create').val(),
                                mucdichlv: $('#mucdichlv_create').val(),
                                diadiem: $('#diadiem_create').val(),
                            },
                            dataType: 'JSON',
                            success: function (data) {
                                if (data.status == 'success') {
                                    $('#frm_data').replaceWith(data.message);
                                    $(document).ready(function () {
                                        TableManaged4.init();
                                    });
                                    $('#Create_Modal').modal("hide");
                                } 
                            }
                        })
                    }
                }
            }
        }
    }

    function SetEdit(id_edit) {
        $.ajax({
            url: '/ViTriTuyenDung/Edit',
            type: 'POST',
            data: {
                Id: id_edit
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    $('#edit_thongtin').replaceWith(data.message);
                }
            }
        })
    }

    function SetUpdate() {
        if (document.getElementById("name_edit").value == '') {
            toastr.error("Tên vị trí công việc không được để trống!!!", "Lỗi!");
        } else {
            if (document.getElementById("soluong_edit").value == '') {
                toastr.error("Số lượng không được để trống!!!", "Lỗi!");
            } else {
                if (document.getElementById("tdgd_edit").value == '') {
                    toastr.error("Trình độ giáo dục yêu cầu không được để trống!!!", "Lỗi!");
                } else {
                    if (document.getElementById("yeucaukn_edit").value == '') {
                        toastr.error("Kinh nghiệm yêu cầu không được để trống!!!", "Lỗi!");
                    } else {
                        $.ajax({
                            url: '/ViTriTuyenDung/Update',
                            type: 'POST',
                            data: {
                                name: $('#name_edit').val(),
                                soluong: $('#soluong_edit').val(),
                                description: $('#description_edit').val(),
                                tdgd: $('#tdgd_edit').val(),
                                tdcmkt: $('#tdcmkt_create').val(),
                                chuyennganh: $('#chuyennganh_edit').val(),
                                loaithvp: $('#loaithvp_edit').val(),
                                tinhockhac: $('#tinhockhac_edit').val(),
                                kynangmem: $('#kynangmem_edit').val(),
                                yeucaukn: $('#yeucaukn_edit').val(),
                                hinhthuclv: $('#hinhthuclv_edit').val(),
                                phucloi: $('#phucloi_edit').val(),
                                hotroan: $('#hotroan_edit').val(),
                                mucluong: $('#mucluong_edit').val(),
                                mucdichlv: $('#mucdichlv_edit').val(),
                                diadiem: $('#diadiem_edit').val(),
                                id: $('#id_edit').val()
                            },
                            dataType: 'JSON',
                            success: function (data) {
                                if (data.status == 'success') {
                                    $('#frm_data').replaceWith(data.message);
                                    $(document).ready(function () {
                                        TableManaged4.init();
                                    });
                                    $('#Edit_Modal').modal("hide");
                                }
                            }
                        })
                    }
                }
            }
        }
    }

    function GetDelete(id) {
        document.getElementById("id_delete").value = id;
    }

    function SetDelete() {
        $.ajax({
            url: '/ViTriTuyenDung/Delete',
            type: 'POST',
            data: {
                Id: $('#id_delete').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    $('#frm_data').replaceWith(data.message);
                    $(document).ready(function () {
                        TableManaged4.init();
                    });
                    $('#Delete_Modal').modal("hide");
                }
            }
        })
    }
</script>