@{
    Layout = null;
}
<li>
    <p class="sidebar-menu-title">Quản lý hệ thống</p>
</li>
<li class="nav-item">
    <a class="nav-link" href="pages/ui-features/buttons.html">
        <i class="typcn typcn-briefcase menu-icon"></i>
        <span class="menu-title">Địa bàn</span>
        @* <i class="typcn typcn-chevron-right menu-arrow"></i> *@
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="pages/ui-features/buttons.html">
        <i class="typcn typcn-briefcase menu-icon"></i>
        <span class="menu-title">Đơn vị</span>
        
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="pages/ui-features/buttons.html">
        <i class="typcn typcn-briefcase menu-icon"></i>
        <span class="menu-title">Tài khoản</span>
        
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="pages/ui-features/buttons.html">
        <i class="typcn typcn-briefcase menu-icon"></i>
        <span class="menu-title">Chức năng</span>
        
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="pages/ui-features/buttons.html">
        <i class="typcn typcn-briefcase menu-icon"></i>
        <span class="menu-title">Nhóm chức năng</span>
        
    </a>
</li>