@{
    Layout = "_LayoutPrint";
    var record_id = 1;
}

<table id="data_header" width="96%" cellspacing="0" cellpadding="8" style="margin:0 auto 20px; font-size: 12px">
    <tbody>
        <tr>
            <td></td>
            <td class="text-right" style="font-style:italic">Mẫu số 03</td>
        </tr>
        <tr>
            <td width="50%" style="vertical-align: top; padding-left: 10% ;text-align: left">

                <p>Tỉnh: Quảng Bình</p>
                <p>
                    Quận, huyện, thị xã:...............................
                </p>
                <p>Xã, phường, thị trấn:..............................</p>
                <hr style="width: 10%;vertical-align: top;  margin-top: 2px">

            </td>
            <td style="vertical-align: top; text-align: center;padding-left: 10% ">
                <b>
                    CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br>
                    Độc lập - Tự do - Hạnh phúc
                </b>
                <hr style="color: black;width: 15%;vertical-align: top; margin-top: 2px">
            </td>
        </tr>
        <tr>
            <td width="50%" style=" text-align: left; padding-left: 10% ">
                <p>Số: ......../BC- </p>
            </td>
            <td style="text-align: center"><i style="margin-left: 15%;">Quảng Bình, ngày .... tháng .... năm ....</i></td>
        </tr>
        <tr>
            <td colspan="2" id="data_body1" style="text-align: center;font-weight: bold;font-size: 20px; text-transform: uppercase;">
                BÁO CÁO
                <br>VỀ THÔNG TIN
                CUNG LAO ĐỘNG NĂM 2022
            </td>
        </tr>
        <tr style="font-style: italic;">
            <td rowspan="2" style="text-align: right;vertical-align: top;"> Kính gửi: </td>
            <td>Ủy ban nhân dân:.......................... <br> Sở Lao động - Thương binh và Xã hội </td>
        </tr>
    </tbody>
</table>




<table id="data_body" cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font-size: 12px">

    <tbody>
        <tr>
            <th style="width: 5%;">STT</th>
            <th style="width: 45%;">Chỉ tiêu</th>
            <th style="width: 10%;">Đơn vị</th>
            <th style="width: 20%;">Kỳ trước</th>
            <th style="width: 20%;">Kỳ báo cáo</th>
        </tr>
        <tr style="text-align: center">
            <td> A </td>
            <td> B </td>
            <td> C </td>
            <td> D </td>
            <td> E </td>
        </tr>
        <tr>
            <td colspan="5" style="font-weight: bold; text-transform: uppercase;text-align: left">
                I. THÔNG TIN CUNG LAO
                ĐỘNG
            </td>
        </tr>
        <tr>
            <td style="font-weight: bold;">1</td>
            <td style="font-weight: bold;">Số người từ 15 tuổi trở lên có nhu cầu tìm kiếm việc làm</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
        </tr>


        <tr>
            <td>a</td>
            <td colspan="4">Chia theo khu vực</td>
        </tr>
        <tr>
            <td></td>
            <td>- Thành thị</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
        </tr>
        <tr>
            <td></td>
            <td>- Nông thôn</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
        </tr>
        <tr>
            <td>b</td>
            <td colspan="4">Chia theo giới tính</td>
        </tr>
        <tr>
            <td></td>
            <td>- Nam</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>- Nữ</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>c</td>
            <td colspan="4">Chia theo trình độ chuyên môn kỹ thật</td>
        </tr>
        <tr>
            <td></td>
            <td>Chưa qua đào tạo</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>CNKT không có bằng</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Chứng chỉ nghề dưới 3 tháng</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Sơ cấp</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Trung cấp</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Cao đẳng</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Đại học</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Trên đại học</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>

        <tr>
            <td>d</td>
            <td colspan="4">Nhu cầu tìm kiếm việc làm, học nghề </td>
        </tr>

        <tr>
            <td></td>
            <td>- Trong tỉnh, trong nước</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;"> </td>
            <td style="text-align: center;"> </td>
        </tr>
        <tr>
            <td></td>
            <td>- Đi làm việc ở nước ngoài</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;"> </td>
            <td style="text-align: center;"> </td>
        </tr>
        <tr>
            <td></td>
            <td>- Học nghề</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;"> </td>
            <td style="text-align: center;"> </td>
        </tr>


        <tr>
            <td style="font-weight: bold;">1.1</td>
            <td colspan="4" style="font-weight: bold;">Trong tỉnh, trong nước</td>
        </tr>
        <tr>
            <td>a</td>
            <td colspan="4">Chia theo khu vực</td>
        </tr>
        <tr>
            <td></td>
            <td>- Thành thị</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
        </tr>
        <tr>
            <td></td>
            <td>- Nông thôn</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
        </tr>
        <tr>
            <td>b</td>
            <td colspan="4">Chia theo giới tính</td>
        </tr>
        <tr>
            <td></td>
            <td>- Nam</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>- Nữ</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>c</td>
            <td colspan="4">Chia theo trình độ chuyên môn kỹ thật</td>
        </tr>
        <tr>
            <td></td>
            <td>Chưa qua đào tạo</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>CNKT không có bằng</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Chứng chỉ nghề dưới 3 tháng</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Sơ cấp</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Trung cấp</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Cao đẳng</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Đại học</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Trên đại học</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>d</td>
            <td colspan="4">Chia theo nghề nghiệp </td>
        </tr>
        <tr>
            <td>A</td>
            <td>Nông nghiệp, lâm nghiệp, thủy sản</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>B</td>
            <td>Khai khoáng</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>C</td>
            <td>Công nghiệp chế biến, chế tạo</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>D</td>
            <td>Sản xuất và phân phối điện, khí đốt, nước nóng, hơi nước và điều hòa không khí</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>E</td>
            <td>Cung cấp nước, hoạt động quản lý và xử lý rác thải, nước thải</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>F</td>
            <td>Xây dựng</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>G</td>
            <td>Bán buôn và bán lẻ. sửa chữa ô tô, mô tô, xe máy và các xe động cơ khác</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>H</td>
            <td>Vận tải kho bãi</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>I</td>
            <td>Dịch vụ lưu trú và ăn uống</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>J</td>
            <td>Thông tin và truyền thông</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>K</td>
            <td>Hoạt động tài chính, ngân hàng và bảo hiểm</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>L</td>
            <td>Hoạt động kinh doanh bất động sản</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>M</td>
            <td>Hoạt đông chuyên môn, khoa học và công nghệ</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>N</td>
            <td>Hoạt động hành chính và dịch vụ hỗ trợ</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>O</td>
            <td>Hoạt động của Đảng Cộng sản, tổ chức chính trị - xã hội, quản lý nhà nước, an ninh quốc phòng, bảo đảm xã hội bắt buộc</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>P</td>
            <td>Giáo dục và đào tạo</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>Q</td>
            <td>Y tế và hoạt động trợ giúp xã hội</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>R</td>
            <td>Nghệ thuật vui chơi và giải trí</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>S</td>
            <td>Hoạt động dịch vụ khác</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>T</td>
            <td>Hoạt động làm thuê các công việc trong các hộ gia đình, sản xuất sản phẩm vật chất và dịch vụ tự tiêu dung của hộ gia đình</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>U</td>
            <td>Hoạt động của các tổ chức và cơ quan quốc tế</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>


        <tr>
            <td style="font-weight: bold;">1.2</td>
            <td colspan="4" style="font-weight: bold;">Đi làm việc ở nước ngoài</td>
        </tr>
        <tr>
            <td>a</td>
            <td colspan="4">Chia theo khu vực</td>
        </tr>
        <tr>
            <td></td>
            <td>- Thành thị</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
        </tr>
        <tr>
            <td></td>
            <td>- Nông thôn</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
        </tr>
        <tr>
            <td>b</td>
            <td colspan="4">Chia theo giới tính</td>
        </tr>
        <tr>
            <td></td>
            <td>- Nam</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>- Nữ</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>c</td>
            <td colspan="4">Chia theo thị trường</td>
        </tr>
        <tr>
            <td></td>
            <td>- Hàn Quốc</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
        </tr>
        <tr>
            <td></td>
            <td>- Nhật Bản</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
        </tr>
        <tr>
            <td></td>
            <td>- Đài Loan</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
        </tr>
        <tr>
            <td></td>
            <td>- Châu Âu</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
        </tr>
        <tr>
            <td></td>
            <td>- Khác</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
        </tr>




        <tr>
            <td style="font-weight: bold;">1.3</td>
            <td colspan="4" style="font-weight: bold;">Nhu cầu học nghề</td>
        </tr>
        <tr>
            <td>a</td>
            <td colspan="4">Chia theo khu vực</td>
        </tr>
        <tr>
            <td></td>
            <td>- Thành thị</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
        </tr>
        <tr>
            <td></td>
            <td>- Nông thôn</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
        </tr>
        <tr>
            <td>b</td>
            <td colspan="4">Chia theo giới tính</td>
        </tr>
        <tr>
            <td></td>
            <td>- Nam</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>- Nữ</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>

        <tr>
            <td>c</td>
            <td colspan="4">Chia theo ngành nghề</td>
        </tr>

        <tr>
            <td>A</td>
            <td>Nông nghiệp, lâm nghiệp, thủy sản</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>B</td>
            <td>Khai khoáng</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>C</td>
            <td>Công nghiệp chế biến, chế tạo</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>D</td>
            <td>Sản xuất và phân phối điện, khí đốt, nước nóng, hơi nước và điều hòa không khí</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>E</td>
            <td>Cung cấp nước, hoạt động quản lý và xử lý rác thải, nước thải</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>F</td>
            <td>Xây dựng</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>G</td>
            <td>Bán buôn và bán lẻ. sửa chữa ô tô, mô tô, xe máy và các xe động cơ khác</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>H</td>
            <td>Vận tải kho bãi</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>I</td>
            <td>Dịch vụ lưu trú và ăn uống</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>J</td>
            <td>Thông tin và truyền thông</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>K</td>
            <td>Hoạt động tài chính, ngân hàng và bảo hiểm</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>L</td>
            <td>Hoạt động kinh doanh bất động sản</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>M</td>
            <td>Hoạt đông chuyên môn, khoa học và công nghệ</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>N</td>
            <td>Hoạt động hành chính và dịch vụ hỗ trợ</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>O</td>
            <td>Hoạt động của Đảng Cộng sản, tổ chức chính trị - xã hội, quản lý nhà nước, an ninh quốc phòng, bảo đảm xã hội bắt buộc</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>P</td>
            <td>Giáo dục và đào tạo</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>Q</td>
            <td>Y tế và hoạt động trợ giúp xã hội</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>R</td>
            <td>Nghệ thuật vui chơi và giải trí</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>S</td>
            <td>Hoạt động dịch vụ khác</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>T</td>
            <td>Hoạt động làm thuê các công việc trong các hộ gia đình, sản xuất sản phẩm vật chất và dịch vụ tự tiêu dung của hộ gia đình</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>
        <tr>
            <td>U</td>
            <td>Hoạt động của các tổ chức và cơ quan quốc tế</td>
            <td style="text-align: center;">Người</td>
            <td style="text-align: center;">
            </td>
            <td style="text-align: center;">
            </td>
        </tr>


    </tbody>
</table>
<table id="data_footer" width="96%" cellspacing="0" height="" cellpadding="0" style="margin: 20px auto;text-align: center; height:200px;font-size: 12px">
    <tbody>
        <tr>
            <td width="60%" style="text-align: left; vertical-align: top;">
            </td>
            <td style="vertical-align: top;">
                <b>ỦY BAN NHÂN DÂN.......................</b><br>

            </td>
        </tr>
    </tbody>
</table>